<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KhoaLinhAuto_App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <KhoaLinhAuto_App.Properties.Settings>
            <setting name="KhoaLinhAuto_App_SanPham_WS_sanpham_WS" serializeAs="String">
                <value>http://khoalinhauto.net/ch/sanpham_ws.php</value>
            </setting>
            <setting name="KhoaLinhAuto_App_SoSach_WS_sosach_WS" serializeAs="String">
                <value>http://khoalinhauto.net/ch/sosach_ws.php</value>
            </setting>
            <setting name="KhoaLinhAuto_App_KhachHang_WS_khachhang_WS" serializeAs="String">
                <value>http://khoalinhauto.net/ch/khachhang_ws.php</value>
            </setting>
            <setting name="KhoaLinhAuto_App_DonHang_WS_donhang_WS" serializeAs="String">
                <value>http://khoalinhauto.net/ch/donhang_ws.php</value>
            </setting>
            <setting name="KhoaLinhAuto_App_ThanhToan_WS_thanhtoan_WS" serializeAs="String">
                <value>http://khoalinhauto.net/ch/thanhtoan_ws.php</value>
            </setting>
            <setting name="KhoaLinhAuto_App_ChiTietDH_WS_chitietdh_WS" serializeAs="String">
                <value>http://khoalinhauto.net/ch/chitietdh_ws.php</value>
            </setting>
        </KhoaLinhAuto_App.Properties.Settings>
    </applicationSettings>
</configuration>